/* @import '../components/theme'; */

.themeToggleBox {
    /* position: absolute; */

    .absoluteBox {
        height: 3rem;
        background: none;
        border: none;
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        position: relative;

        &:hover {
            background-color: var(--bg-el4);
        }
    }

    /* icon */
    .darkImg {
        width: 3rem;
        height: auto;
    }

    .lightImg {
        width: 3rem;
        height: auto;
    }
    /* icon */
}

/* .themeChangeBtn {
    position: relative;
    text-indent: -9999px;
    outline: none;
    border-radius: 51%;
    z-index: 99;
    cursor: pointer;
} */

/* .themeToggleText {
    transition: text-indent 0.2s, opacity 0.2s, visibility 0.1s ;
    position: absolute;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-indent: 10px;
    right: -40px;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    text-align: right;
}

.absoluteBox:hover .themeToggleText {
    opacity: 1;
    visibility: visible;
    text-indent: -110px;
} */



.total_list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    .total_list_item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.filterBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .todosSelectTit {
        outline: none;
        padding: 4px;
        box-sizing: border-box;
    }
}
