
li.circle_list {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  span {
    &.circle_point {
      margin-right: 8px;
      width: 5px;
      height: 5px;
      min-width: 5px;
      min-height: 5px;
      background-color: var(--bg-circle);
      display: inline-flex;
      border-radius: 51%;
      margin-top: 10px;
    }
  }
}

a.link {
  transition: all 0.2s;
  color: var(--defaultAlert);
  &:hover, &:active, &:focus {
    color: var(--bg-circle);
  }
}

h1,h2,h3,h4,h5,h6,span,p,li,div {
  color:var(--text)
}

div, ul, li, a, button {
  position: relative;
}

.service_link {
  transition: all 0.2s;
  background-color: var(--link-btn);
  &:hover, &:active, &:focus {
    background-color: var(--bg-circle);
  }
}

.stack_box {
  display: inline-flex;
}

a {
  &.blog_link_btn {
    transition: all 0.2s;
    background-color: var(--defaultPrimary);
    color: var(--textColor);
    &:hover, &:focus, &:active {
      /*background-color: var(--);*/
      background-color: var(--textColor);
      color:var(--defaultPrimary);
    }
  }
}