
li.circle_list {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  span {
    &.circle_point {
      margin-right: 8px;
      width: 5px;
      height: 5px;
      min-width: 5px;
      min-height: 5px;
      background-color: var(--bg-circle);
      display: inline-flex;
      border-radius: 51%;
      margin-top: 10px;
    }
  }
}