/* font family */
@font-face {
    font-family: "NotoSansKR-100";
    src: url("../fonts/NotoSansKR-Thin.otf");
    font-weight: 100;
}

@font-face {
    font-family: "NotoSansKR-300";
    src: url("../fonts/NotoSansKR-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "NotoSansKR-400";
    src: url("../fonts/NotoSansKR-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "NotoSansKR-500";
    src: url("../fonts/NotoSansKR-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "NotoSansKR-700";
    src: url("../fonts/NotoSansKR-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: "NotoSansKR-900";
    src: url("../fonts/NotoSansKR-Black.otf");
    font-weight: 900;
}

/* font family */

/* scroll */
* {
    word-break: keep-all;
    font-family: "NotoSansKR-400";
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 4px;
    background: #E9ECEF;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    width: 4px;
    background: #9EA8B3;
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    width: 4px;
    background: #E9ECEF;
    border-radius: 10px;
}
/* scroll */

/* :root theme */
[data-theme="light"] {
    --background:#fff;
    --text:#1B242C;
    --input-text:#1B242C;
    --cursor-point:pointer;

    --bg-el1: #E9ECEF;
    --bg-el2: #F8F9FA;
    --bg-el3: #FFFFFF;
    --bg-el4:#DEE2E6;
    --bg-el5:#ffffff;
    --border3:#DEE2E6;
    --border4:#F1F3F5;
    --bg-circle:#121212;

    --inner-box: #fafafa;
    --link-btn:#9EA8B3;

    --primary1: #304ffe;
    --alert1:#ff3d00;
    --defaultPrimary: #3d5afe;
    --defaultAlert : #fafafa;
}

[data-theme="dark"] {
    --background:#000;
    --text:#fff;
    --input-text:#1B242C;
    --cursor-point:pointer;

    --bg-el1: #1E1E1E;
    --bg-el2: #1E1E1E;
    --bg-el3: #252525;
    --bg-el4: #2E2E2E;
    --bg-el5:#DEE2E6;
    --border3:#4D4D4D;
    --border4:#2A2A2A;
    --bg-circle: #9b9ea1;
    --link-btn:#9EA8B3;

    --inner-box: #c9c9c9;

    --primary1: #536dfe;
    --alert1:#ff9e80;
    --defaultPrimary: #3d5afe;
    --defaultAlert : #fafafa;
}

.nav_ani:hover {
    background-color: var(--bg-el4);
}

/* :root theme */

/* default */
body {
    /* background: var(--background); */
    line-height: 1.6;
    /* max-width: 1200px;
    margin: 0 auto; */
    overflow-x: hidden;
    /* padding-left: 2rem;
    padding-right: 2rem; */
}

ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
}
/* default */

/* padding */
.pt_4 {
    padding-top: 1rem;
}

.pt_8 {
    padding-top: 2rem;
}

.pt_12 {
    padding-top: 3rem;
}

.pt_16 {
    padding-top: 4rem;
}

.pb_4 {
    padding-bottom: 1rem;
}

.pb_8 {
    padding-bottom: 2rem;
}

.pb_12 {
    padding-bottom: 3rem;
}

.pb_16 {
    padding-bottom: 4rem;
}

.pl_4 {
    padding-left: 1rem;
}

.pl_8 {
    padding-left: 2rem;
}

.pl_12 {
    padding-left: 3rem;
}

.pl_16 {
    padding-left: 4rem;
}

.pr_4 {
    padding-right: 1rem;
}

.pr_8 {
    padding-right: 2rem;
}

.pr_12 {
    padding-right: 3rem;
}

.pr_16 {
    padding-right: 4rem;
}
/* padding */

/* flex */
.fl {
    display: flex;
}

.in_fl {
    display: inline-flex;
}

.items_end {
    align-items: end;
    -webkit-box-align: end;
}

.items_center {
    align-items: center;
    -webkit-box-align: center;
}

.items_start {
    align-items: start;
    -webkit-box-align: start;
}

.just_start {
    justify-content: start;
    -webkit-box-pack: start;
}

.just_center {
    justify-content: center;
    -webkit-box-pack: center;
}

.just_end {
    justify-content: end;
    -webkit-box-pack: end;
}

.just_spacebetween {
    justify-content: space-between;
    -webkit-box-pack: justify;
}

.fl_col {
    flex-direction: column;
}

.fl_row {
    flex-direction: row;
}
/* flex */

/* grid */
.col_6 {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));

    column-gap: 20px;
    row-gap: 20px;
}

.col_8 {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));

    column-gap: 20px;
    row-gap: 20px;
}


.col_10 {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));

    column-gap: 20px;
    row-gap: 20px;
}

.col_12 {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));

    column-gap: 20px;
    row-gap: 20px;
}
/* grid */

/* animation */
.transition_all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

/* animation */

/* border */
.br_5 {
    border-radius: 0.5rem;
}
/* border */